// Body
$body-bg: #ebebeb;

////
// Typography
// 1. Assumes the browser default, typically `16px`
//
$font-family-sans-serif: 'roboto', sans-serif;
$font-size-base: 1rem; // 1

$h1-font-size: $font-size-base * 1.8;
$h2-font-size: $font-size-base * 1.6;
$h3-font-size: $font-size-base * 1.4;
$h4-font-size: $font-size-base * 1.2;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base;

$display1-size: $font-size-base * 2.5;
$display2-size: $font-size-base * 1.5;
$lead-font-size: $font-size-base * 1.2;

// Components
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

// Colors
$blue: #0091ff;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$secondary: #434343;

// Shadows
$box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.4);
